@import "tailwindcss";

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

button {
    cursor: pointer;
    border: 1px solid rgb(223, 187, 187);
    padding: 4px;
    border-radius: 10px;
}