@import "tailwindcss";

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

button {
    cursor: pointer;
    border: 1px solid black;
    padding: 5px;

}