#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*  */

.container {
  margin: 0 auto;
  max-width: 1280px;
}

.herosection {
  display: flex;
  align-items: center;
  height: calc(100vh - 100px);
  width: 100%;
}

.hero-content {
  width: 80%;
}

.hero-content h1 {
  font-weight: 800;
  font-size: 108px;
  line-height: 102px;
}

.hero-content p {
  margin-top: 5px;
  font-weight: 600;
  width: 90%;
}

.hero-btn {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  margin-left: 30%;
}

.hero-btn .second-btn {
  background-color: rgb(236, 16, 16);
  color: black;
  padding: 8px 11px;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  font-size: 15px;
}
.hero-btn .frist-btn {
  background-color: rgb(236, 16, 16);
  color: black;
  padding: 8px 11px;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  font-size: 15px;
}

.shopping p {
  font-size: 15px;
  margin-bottom: 8px;
  margin-top: 10px;
  font-size: 20px;
  padding-right: 30px;
  margin-top: 15px;
  
}

.brand-icon {
  gap: 8px;
  display: flex;
  text-align: center;
  margin-left: 38%;
  margin-top: 10px;
}

